language: python
python:
  - 2.7
  - 3.6
services:
  - riak

install: pip install tox
script:
  - riak-admin bucket-type create maps '{"props":{"datatype": "map"}}'
  - riak-admin bucket-type activate maps
  - riak-admin bucket-type create vsbs '{"props":{"w": 1,"dw": 1,"r": 1}}'
  - riak-admin bucket-type activate vsbs
  - tox -e system
