language: python
python:
  - 2.7
services:
  - riak

install: pip install tox
script:
  - "sudo riak-admin bucket-type create maps '{\"props\":{\"datatype\": \"map\"}}'"
  - sudo riak-admin bucket-type activate maps
  - "sudo  riak-admin bucket-type create vsbs '{\"props\":{\"w\": 1,\"dw\": 1,\"r\": 1,\"write_once\": true}}'"
  - sudo riak-admin bucket-type activate vsbs
  - tox -e system
